body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #0d3641ec;
    color: #a9e6f5ec;
}

hr{
    height: 1px;
    border-width: 0;
    background-color: #a9e6f5ec;
}

.jumbo{
    text-align: center;
    background-color: #a9e6f5ec;
    color: #0d3641ec;
}

.buffer{
    padding-top: 100px;
}

.emote{
    font-size: 100px;
}

a:link{
    color: #18c0e6ec;
}

a:visited{
    color: #18c0e6ec;
}